body {
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.ul li {
    bottom: 10px
}

.ol li {
    bottom: 20px
}

.image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div {
    background-color: rgb(181, 255, 181);
    width: 95%;
    padding: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}