#letter1 {
  vertical-align:top;
  margin-top: 4px;
  border: 1px black solid;
  border-radius: 5px;
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  text-align: center;
  font-size: 3.5em;
  font-family: 'Lato', sans-serif;
}

body {
    width: 400px;
    margin: 0 auto;
}
